#form_video_upload .text-danger {
  color: #FFFFFF;
}

.progress-bar-success-new {
  display: none;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
);
}